.dom-elements {
	background: #00193e;
	&__body {
		padding: 25px 0;
	}

	&__title {
		h2 {
			color: #ff5b5b;
			line-height: 29px;
			text-align: center;
			font: {
				size: 24px;
				weight: 700;
				family: $font-stack;
			}

			span {
				color: #2fc1ff;
			}
		}

		h3 {
			color: #5061ff;
			line-height: 20px;
			margin-top: 15px;
			font: {
				size: 16px;
				weight: 700;
				family: $font-stack;
			}
		}
	}

	&__column {
		margin-top: 10px;

		li {
			line-height: 20px;
			color: #5dcabd;
			font: {
				size: 16px;
				weight: 700;
				family: $font-stack;
			}
		}
	}

	&__image {
		display: none;
	}

	.iwd-know {
		span {
			color: #eee;
			display: flex;
			justify-content: center;
			margin: 20px 0 0 0;

			font: {
				size: 24px;
				weight: 700;
				family: $font-stack;
			}

			.k {
				color: #ff4f4f;
				margin: 0 10px;
			}

			.a {
				color: #5dca5d;
				margin: 0 10px;
			}
		}
	}
}

@media (min-width: 768px) {
	.dom-elements {
		&__title {
			h2 {
				line-height: 40px;
				font: {
					size: 32px;
				}
			}

			h3 {
				line-height: 30px;
				font: {
					size: 24px;
				}
			}
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__image {
			display: block;
		}
	}
}

@media (min-width: 1024px) {
	.dom-elements {
		&__body {
			padding: 40px 0;
		}

		&__title {
			h2 {
				line-height: 50px;
				font: {
					size: 40px;
				}
			}
		}

		&__column {
			li {
				line-height: 25px;
				font: {
					size: 20px;
				}
			}
		}
	}
}
